.productos{
    border: 1px solid #ccc;
     padding: 10px;
      margin: 10px; 
      text-align: center;
}

.menu-principal{
    background-color: aquamarine;
    border:1px solid red;
    display: inline-block;
    width:80%;

}
.menu-carrito{
    background-color: orange;
    border: 1px dotted olive;
    display: inline-block;
    width:20%;


}
.contenedor{
   
        display: flex;
        flex-direction: column;
    
      
}
.producto{
    border: 1px solid navy;
    font-size: large;
    width: auto;
}