body{
    background-color: beige;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
.formulario{
    background-color: #fff;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
}
.error{
    color: red;
    font-size: bigger;
    border:1px solid red;
    max-width: 300px;
}
